python-dateutil
feedparser
#odict #for ordered dictionaries in Python, which helps in organizing Zen JSON output
couchdb

git+http://github.com/zepheira/akara.git#egg=akara
git+http://github.com/zepheira/amara.git#egg=amara
hg+http://foundry.zepheira.com/hg/zen/#egg=zen
